@{
  Layout = "_Layout";
}

<div class="header">
  <h1>Welcome to the Vender Order Tracker!</h1>
  <p>This is where bakeries can track their venders and the orders that each vender has placed.</p>
</div>

<div class="links">
  <a href="/venders">View Venders</a>
</div>
