* {
  text-align: center;
  font-size: 1.1em;
}

.container {
  min-height: 70vh;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}
