@{
  Layout = "_Layout";
}

<div class="header">
  <h1>Welcome to the Vendor Order Tracker!</h1>
  <p>This is where bakeries can track their vendors and the orders that each vendor has placed.</p>
</div>

<div>
  <img src="~/img/bakery-shelf.jpg" alt="bakery shelves">
</div>

<div class="links">
  <a href="/vendors">View Vendors</a>
</div>
