@{
  Layout = "_Layout";
}
  <h1>Create New Vender</h1>
  <form action="/" method="post">
    <label for="name">Vender Name</label>
    <input id="name" name="name" type="text" required>
    <label for="description">Vender Description</label>
    <input id="description" name="description" type="text" required>
    <button class="btn" type="submit">Create!</button>
  </form>

<div class="links">
  <a href="/venders">Back To Venders</a>
</div>