@{
  Layout = "_Layout";
}
  <h1>Fill in your name and your city:</h1>
  <form action="/result" method="post">
    <label for="name">Your Name</label>
    <input id="name" name="name" type="text">
    <label for="city">Your city</label>
    <input id="city" name="city" type="text">
    <button type="submit">Go!</button>
  </form>