@using VenderTracker.Models

@{
  Layout = "_Layout";
}

<div class="vender-information">
  <h3>@Model["vender"].Name</h3>
  <p>@Model["vender"].Description</p>
</div>

<div class="order-container">
  <h4>Orders:</h4>
  @if (Model["orders"].Count == 0)
  {
    <div>There are no orders from this vender.</div>
  }
  @foreach (Order order in Model["orders"])
  {
    <div class="order-information">
      <a href='venders/@Model["vender"].Id/orders/@order.Id'><h5>@order.Title</h5></a>
    </div>
  }
</div>

<div class="links">
  <a href='/venders/@Model["vender"].Id/orders/new'>Create New Order</a>
  <a href="/venders">Back To Venders</a>
</div>