@using VenderTracker.Models

@{
  Layout = "_Layout";
}

<div class="vender-information">
  <h1>@Model["vender"].Name</h1>
  <p>@Model["vender"].Description</p>
</div>

<h3>Orders:</h3>

  <div class="orders">
    @if (Model["orders"].Count == 0)
    {
      <div>There are no orders from this vender.</div>
    }
    @foreach (Order order in Model["orders"])
    {
      <div class="order-information">
        <a href='/venders/@Model["vender"].Id/orders/@order.Id'>@order.Title</a>
      </div>
    }

</div>


<div class="links">
  <a href='/venders/@Model["vender"].Id/orders/new'>Create New Order</a>
  <a href="/venders">Back To Venders</a>
</div>