@using VendorTracker.Models
@{
  Layout = "_Layout";
}

<h1>Create A New Order</h1>

<form action="/vendors/@Model.Id/orders" method="post">
  <div class="form-group">
    <label for="title">Title</label>
    <input id="title" name="title" type="text" placeholder="Weekly Bread Supply">
  </div>
  <div class="form-group">
    <label for="type">Item Type</label>
    <input id="type" name="type" type="text" placeholder="Croissant">
  </div>
  <div class="form-group">
    <label for="amount">Quantity</label>
    <input id="amount" name="amount" type="number" placeholder="25">
  </div>
  <div class="form-group">
    <label for="priceString">Price</label>
    <input id="priceString" name="priceString" type="text" placeholder="5.50">
  </div>
  <div class="btn-container">
    <button class="btn" type='submit'>Create Order</button>
  </div>
</form>

<div class="links">
  <a href='/vendors/@Model.Id'>Back To @Model.Name</a>
</div>